.container {

  // box-shadow: 0 2rem 6rem(rgba(0,0,0,.3));
  // min-height: 10rem;
  // width: 100%;
  
}

.headline-tickers {
  height: 6.5rem;
  color: var(--color-ticker-white);
  background-color: var(--color-ticker-black);
}

.content {
  display: flex;
}

.side-view {
  flex: 0 0 45px;
}

.sidebar {
  position: fixed;
  padding: 10px;
  background-color: var(--color-sidebar);
  // flex-basis: 45px;

  height: 100%;
  color: var(--color-sidebar-icon);
  border-left-width: 1px;
  border-right-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-color: var(--color-sidebar-icon);
  border-style: solid;
  text-align: center;
}

.main-view {
  flex: 0 1 100%;
}

.section-one {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-size: 1.4rem;
  height: 5rem;
  background-color: var(--color-background-nav1-black-blue);
  color: var(--color-button-nav1-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-two {
  animation: blinkingText 1s infinite;
  height: 5rem;
  background-color:  var( --color-background-nav2-black-blue);
  color: var(--color-text-nav2-white-bold);
}

.section-three {
  animation: blinkingText 1s infinite;
  height: 60rem;
  background-color:  var(--color-background-blue-black-3);
  color: var(--color-text-nav2-white-bold);
}